/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  --clr-accent: hsl(220, 98%, 61%);
  --clr-hover: hsl(0, 0%, 100%);
  --clr-head: hsl(0, 0%, 96%);

  --clr-line: hsl(233, 14%, 35%);

  --clr-text-task: hsl(0, 0%, 100%);
  --clr-text-task-complete: hsl(233, 14%, 26%);
  --clr-text: hsl(233, 14%, 35%);

  --clr-background-main: hsl(235, 21%, 11%);
  --clr-background-todo: hsl(235, 24%, 19%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--clr-background-main);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
